<div style="padding-top:100px;">
 <h1 class="text-center">情報を編集しました。</h1>
  <div class="text-center">
    <%= link_to "マイページに戻る" , users_mypage_index_path(current_user.id), class: "btn btn-primary" %>
  </div>
</div>
