<h1>新しいジャンル追加</h1>

<%= form_for(@genre) do |f| %>
   <h4>ジャンル名</h4>
   <%= f.text_field :name %>

    <%= f.submit '登録' %>

<% end %>


<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>ジャンル名</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
    <% @genres.each do |genre| %>
		  <tr>
			  <th>数</th>
			  <td><%= genre.name %></td>
			  <td>編集  | 削除</td>
		  </tr>
    <% end %>
	</tbody>
</table>
