<%= render 'admins/layouts/sidebar' %>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>アーティスト編集</h1>
    <br>
    <%= form_for(@artist, url: admins_artist_path) do |f| %>
      <h4>アーティスト名</h4>
      <%= f.text_field :name, placeholder: @artist.name %>
      <%= f.submit 'Edit' %>
    <% end %>
  </div>
</div>
