<%= render 'admins/layouts/index' %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">日付</th>
        <th scope="col">注文番号</th>
        <th scope="col">E-mail</th>
        <th scope="col">総額</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <%# <% @orders.each do |order| %>  %>
      <tr>
        <td>No.</td>
        <td>order.created_at</td>
        <!-- insert link_to show_page -->
        <td>order.order_number</td>
        <!-- insert link_to user_show -->
        <td>order.user.email</td>
        <td>order.total_price</td>
        <td>order.derively</td>
      </tr>
      <%# <% end %> %>
    </tbody>
  </table>
</main>
